#.gitignore for headstar_web

CVS
docs
headstar
1
/2014
*old*
*NEW*

*.log

Thumbs.db
.DS_Store
FINDER.DAT

00readm*.txt
*copy*.*
*Copy*.*
archiv*_*.html
*_*20*.*

/*.vcf
/*.gif
em*.txt
/*.html


#End.
