#.gitignore for headstar_web

node_modules/
#Gruntfile.js
/v*.js

CVS
docs
headstar
1
/2014
*BAK*
*old*
*NEW*

*.log
perl/logs/*.log

Thumbs.db
.DS_Store
FINDER.DAT

00readm*.txt
*copy*.*
*Copy*.*
archiv*_*.html
*_*20*.*

/*.vcf
/*.gif
##em*.txt
/*.html


#End.
